body {
    font-family: sans-serif;
}


#container {
    background-color: aqua;
    position: absolute;
    width: 30%;
    height: 450px;
    left: 35%;
    top: 20%;
    text-align: center;
    border-radius: 20px;
    border-style: solid;
    border-color:blue;
    box-shadow: 4px 4px 10px #000000;
}

#container h1 {
    margin-top: 20%;    
}

#dinges {
    position: relative;   
}

#dinges input {
    width: 70%;
    height: 40px;
    border-radius: 10px;
    margin-bottom: 10px;
}

#dinges button {
    width: 20%;
    height: 40px;
    background-color: blue;
    color:white;
    border-radius: 10px;
}

#left {
    float:left;
    margin-left: 15%;
}

#right {
    float: right;
    margin-right: 15%;
}